.song-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: left;
    border: 1px solid;
    padding: 1rem;
    margin: 0 auto;
    width: 400px;
    height: 180px;
}

.text-wrapper {
    /* width: 50%; */
    padding-left: 5%;
    text-align: left;
  }
  
.text-wrapper p{
    font-size: 18px;
}

  .song-wrapper:hover{
      background-color: #9b9b9c;
  }