.App {
  text-align: center;
}

.App {
  background: linear-gradient(transparent, rgb(0, 0, 0,1)); 
  background-color: rgb(75, 75, 75);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.new-btn {
  background: transparent;
	color: #fff;
	border: 2px solid #fff;
	border-radius: 50px;
  font-size:14px;
	padding: 12px 24px;
	cursor: pointer;
  margin-top: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}

.search{
  border-radius: 0px 50px 50px 0px;
  background-color: transparent;
  
}

.new-btn:hover {
  color: #282c34;
  background-color: #fff;
}

.layout {
  display: grid;
  grid-template-columns: minmax(150px, 20%) 1fr;
  padding: 0;
  margin: 0;
  background: linear-gradient(transparent, rgb(0, 0, 1)); 
  background-color: rgb(75, 75, 75);
  min-height: 100vh;
}

.sidebar {
  min-height: 100vh;
  background: rgb(23, 23, 23);
  font-size: 2rem;
  text-align: center;
}

.content {
  padding: 2rem;
}

.input-search {
  background-color: #fff;
  border: 2px solid #fff;
	border-radius: 50px 0px 0px 50px;
  font-size:14px;
	padding: 12px 24px;
}

.input-title, .input-desc{
  background-color: #fff;
  border: 2px solid #fff;
	border-radius: 50px;
  font-size:14px;
	padding: 12px 24px;
}